<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Number Thingy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="projects-grid">
    <div class="project-card">
      <h1>Random Number Thingy</h1>
      <h1>Total: {{ count }} <br>
      Selected: {{ selected }}</h1>
        <form action="/increment" method="post">
            <button type="submit">Addition</button>
        </form>
        <form action="/decrement" method="post">
            <button type="submit">Subtraction</button>
        </form>
        <form action="/select-num" method="POST">
            <label for="num">Enter a number:</label>
            <input type="number" id="num" name="num" required>
            <input type="submit" value="Submit">
        </form>
            <form action="/sync" method="POST">
                <button type="submit">Sync</button>
            </form>
            <form action="/reset-number" method="POST">
                <button type="submit">Reset</button>
            </form>
        </div>
      <div class="project-card">
          <h1>Is it a real credit card number?</h1>
          <h3>This is a simple implementation of the luhn's algorythm that can be found on my other project at <a href="https://github.com/EchoTheDeveloper/simple-card-check/blob/master/main.py">github</a>.</h3>
          <h3>{{ card }} is card? {{ isCard }}</h3>
          <form action="/luhns" method="POST">
              <label for="card">Enter a number:</label>
              <input id="card" name="card" required>
              <input type="submit" value="Submit">
          </form>
      </div>
    </div>
    <div class="projects-grid">
      <div class="project-card">
        <h1>TEST</h1>
      </div>
    </div>
</body>
</html>
